@layer utilities {
  .bg-primary {
    background-color: #0a0a0a;
  }
  
  .bg-primary\/30 {
    background-color: rgba(10, 10, 10, 0.3);
  }
  
  .bg-primary\/50 {
    background-color: rgba(10, 10, 10, 0.5);
  }
  
  .bg-primary\/95 {
    background-color: rgba(10, 10, 10, 0.95);
  }
  
  .bg-secondary {
    background-color: #4f46e5;
  }
  
  .text-light {
    color: #f3f4f6;
  }
  
  .text-dark {
    color: #1f2937;
  }
} 